<<<<<<< HEAD
#roulette-game{
    margin: 7% 12%;
    font-family: sans-serif;

    #roulete-container{
        position: relative;
        display:flex;
        align-items: center;

        .mark-winner{
            position: absolute;
            clip-path: polygon(0 10px, 60px 20px, 60px 0);
            background: #9C7B52;    
            width: 15%;
            height: 8%;
            right: 4%;
            top: 46.5%;
            z-index: 10;
        }
        .concursantes{
            text-align: center;
            margin: auto;
            position: relative;
            z-index: 3;

            #roulette-background{
                background-image: url("../assets/roulette-img.png");
                background-position-x: center;
                background-position-y: center;
                background-repeat: no-repeat;
                background-size: cover;
                position:relative;  
                display:flex;
                align-items: center;
                width: 500px;
                height: 500px;
                z-index: -1;

                canvas{
                    margin-top: 10px;
                    position: relative;
                    z-index: 1;
                    width:76%;
                }

                #idcanvas {
                    position: relative;
                    margin: auto;
                    z-index: 1;
                    bottom:2px;
                    left:2px;
                }
                #roulette-inner-circle-shape:before{
                    content:''; 
                    background-image: url("../assets/roulette-center7.png");
                    background-color:rgb(85, 180, 209);
                    background-position-x: center;
                    background-position-y: center;
                    background-size: cover;
                    border-radius:200px;
                    position:absolute; 
                    margin:auto;
                    display:block; 
                    width:25%; 
                    height:25%; 
                    top:3px;
                    bottom:0;
                    left:6px;
                    right:0;
                    z-index: 1;
                }
            }
        }
    }

    #buttons-place{
        margin: auto;
        text-align: center;
    }
}
=======
#roulette
{
    z-index: 100;
    transition: all 5s;
}

#roulette-game 
{
    position: absolute;
    margin: 7% 12%;
}

#roulete-container
 {
	position: relative;
	display:flex;
	align-items: center;
}

#roulette-names
{
	position: relative;
	z-index: 3;
	background-color:blue;
}

button 
{
	z-index: 10;
}

#arrow-mark 
{
	background-color: red;
	position: absolute;
	width: 6%;
	height: 3%;
	z-index: 10;
	left: 2%;
}

#roulette-background
{
	background-image: url("../assets/images/wheel/roulette-img.png");
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
    background-size: cover;
	position:relative;  
	display:flex;
	align-items: center;
	width: 500px;
	height: 500px;
	z-index: -1; 
	
	border: 5px solid blueviolet;
}

#roulette-inner-circle-shape:before
{
	content:''; 
	background-image: url("../assets/images/wheel/roulette-center7.png");
	background-color: white;
	background-position-x: center;
	background-position-y: center;
	background-size: cover;
	border-radius:200px;
	position:absolute; 
	margin: auto;
	display:block; 
	width:25%; 
	height:25%; 
	top:3px;
    bottom:0;
    left:6px;
    right:0;
	z-index: 1;
}

/* #roulette-circle-shape
{
	position:relative; 
	display:flex;
	margin: auto;
	align-self: center;
	overflow:hidden;
	width:335px; 
	height:335px; 
	border-radius:500px;
	background-color: burlywood;
	bottom:3.5px;
    left:4px;

} */
>>>>>>> origin/feature/ileen-ignacio_members-categories
